body {
    margin: 0;
    padding: 0;
}

.navbar {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 3;
}

.top-section {
    -webkit-background-size: cover;
    background-size: cover;
    transition: opacity 0.1s;
    position: relative;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: #fff;
}

.navbar-list {
    display: inline-block;
    padding: 0;
    text-transform: uppercase;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

header {
    background: linear-gradient(rgb(10, 10, 10), #0000);
    position: fixed;
    width: 100%;
    transition: 0.5s;
}

.cool-link {
    cursor: pointer;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 150px;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background: linear-gradient(rgb(10, 10, 10), #0000);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover #Avatar {
    box-shadow: 0 0 1pt 1pt white;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer; 
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

@media (max-width: 1000px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .brand-title {
        display: none;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
        transition: 0.5s
    }

    .navbar-links.active {
        display: flex;
        transition: 0.5s;
    }

    .top-section {
        position: relative;
    }
}

@media (max-width: 1366px) {
    .top-section {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .top-section {
        font-size: 18px;
    }
}